<header class="bc-midnight">
  <div onclick="open_page('painel.anuncio.html');" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Denunciar Imóvel</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <input type="hidden" id="id-anuncio">
  <div class="content text-center">
    <b>Usuário conectado:</b><br><i class="fa fa-user fa-fw color-salmon"></i> <span id="usuario-conectado">Usuário Conectado</span><br>
  </div>
  <div class="main-menu">
    <div class="item" onclick="denunciar_anuncio($('#id-anuncio').val(), 1);">
      <div class="icon-left"><i class="fa fa-exclamation-triangle color-salmon"></i></div>
      <div class="label">Anúncio falso.</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="denunciar_anuncio($('#id-anuncio').val(), 2);">
      <div class="icon-left"><i class="fa fa-exclamation-triangle color-salmon"></i></div>
      <div class="label">Imóvel indisponível.</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="denunciar_anuncio($('#id-anuncio').val(), 3);">
      <div class="icon-left"><i class="fa fa-exclamation-triangle color-salmon"></i></div>
      <div class="label">Anunciante não responde.</div>
      <div class="icon-right"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  var idAnuncio = localStorage.getItem('id-anuncio');
  $('#id-anuncio').val(idAnuncio);
  $('#usuario-conectado').html(localStorage.getItem('nome-usuario'));
});
</script>