<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Minha Conta</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="input-text">
    <label>Nome:</label>
    <input type="text" class="form-control text-capitalize" id="nome" name="nome" maxlength="20">
  </div>
  <div class="input-text">
    <label>Último sobrenome:</label>
    <input type="text" class="form-control text-capitalize" id="sobrenome" name="sobrenome" maxlength="20">
  </div>
  <div class="input-text">
    <label>Data de nascimento:</label>
    <input type="text" id="nascimento" name="nascimento">
  </div>
  <div class="input-select">
    <label>Sexo:</label>
    <select id="sexo" name="sexo">
      <option value="M">masculino</option>
      <option value="F">feminino</option>
    </select>
  </div>
  <div class="input-select">
    <label>Estado:</label>
    <select id="select-estado" name="idEstado" onchange="carregar_select_cidade(null, $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Cidade:</label>
    <select id="select-cidade" name="idCidade"></select>
  </div>
  <div class="input-text">
    <label>RG:</label>
    <input type="text" id="rg" name="rg" placeholder="somente números" maxlength="15">
  </div>
  <div class="input-text">
    <label>CPF:</label>
    <input type="text" id="cpf" name="cpf" maxlength="14">
  </div>
  <div class="input-text">
    <label>E-mail de cadastro:</label>
    <input type="text" class="form-control text-lowercase" maxlength="50" id="email-cadastro" name="email-cadastro" disabled>
  </div>
  <div class="input-text">
    <label>E-mail para contato:</label>
    <input type="text" class="form-control text-lowercase" id="email-contato" name="emailContato" maxlength="50">
  </div>
  <div class="input-text">
    <label>Telefone para contato:</label>
    <input type="text" id="telefone" name="telefone" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}">
  </div>
  <div class="input-select">
    <label>Exibir telefone:</label>
    <select id="exibir-telefone" name="exibirTelefone">
      <option value="1">sim</option>
      <option value="0">não</option>
    </select>
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="button" onclick="editar_dados_usuario();" class="btn btn-submit bg-salmon m-bottom-10"><i class="fa fa-check fa-fw"></i> Alterar Dados</button>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_dados_usuario();
  $('#rg').keypress(verificar_digito);  
  $('#telefone').mask('(00) 0000-00009');
  $('#contato-telefone').mask('(00) 0000-00009');
  $('#cpf').mask('999.999.999-99');
  $('#senha-cpf').mask('999.999.999-99');
  $('#nascimento').mask('99/99/9999');
});
</script>