<header class="bc-midnight">
  <div onclick="open_page('login.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Encontrar Imóvel</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
<form id="formulario-pesquisa">
  <div class="input-select">
    <label>Finalidade:</label>
    <select class="form-control" id="select-proposta" name="idProposta"></select>
  </div>
  <div class="input-select">
    <label>Imóvel:</label>
    <select class="form-control" id="select-categoria" name="idCategoria"></select>
  </div>
  <div class="input-text">
    <label>Valor. Mínimo:</label>
    <input type="text" class="form-control" id="valor-minimo" name="valorMinimo" placeholder="valor mínimo do imóvel">
  </div>
  <div class="input-text">
    <label>Valor. Máximo:</label>
    <input type="text" class="form-control" id="valor-maximo" name="valorMaximo" placeholder="valor máximo do imóvel">
  </div>
  <div class="input-select">
    <label>Quartos:</label>
    <select class="form-control" id="n-quartos" name="nQuartos">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Suítes:</label>
    <select class="form-control" id="n-suites" name="nSuites">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>  
    </select>
  </div>
  <div class="input-select">
    <label>Banheiros:</label>
    <select class="form-control">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Vagas:</label>
    <select class="form-control" id="n-vagas" name="nVagas">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Estado:</label>
    <select class="form-control" id="select-estado" name="idEstado" onchange="carregar_select_cidade('#formulario-pesquisa ', $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Cidade:</label>
    <select class="form-control" id="select-cidade" name="idCidade" onchange="carregar_select_bairro('#formulario-pesquisa ', $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Bairro:</label>
    <select class="form-control" id="select-bairro" name="idBairro"></select>
  </div>
  <div class="input-text">
    <label>Área. Mín:</label>
    <input type="number" class="form-control" id="metragem-minima" name="metragemMinima" placeholder="m²">
  </div>
  <div class="input-text">
    <label>Área. Máx:</label>
    <input type="number" class="form-control" id="metragem-maxima" name="metragemMaxima" placeholder="m²">
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="button" onclick="pesquisar('resultado.html');" class="btn bg-salmon m-bottom-10"><i class="fa fa-search fa-fw"></i> Pesquisar</button>
    </div>
  </div>
</form>
</section>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_select_estado('#formulario-pesquisa ');
  carregar_select_cidade('#formulario-pesquisa ');
  carregar_select_bairro('#formulario-pesquisa ');
  carregar_select_proposta();
  carregar_select_categoria();
  $('#metragem-maxima').keypress(verificar_digito);
  $('#metragem-minima').keypress(verificar_digito);
  $('#valor-maximo').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#valor-minimo').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
});
</script>