.resultado-imovel{
  display: table;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.resultado-imovel-imagem{
  position: relative;
  width: 100%;
  height: 300px;
  background: #f2f2f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resultado-imovel-imagem button{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
}

.resultado-imovel-imagem button:hover{
  opacity: 1.0;
  filter: alpha(opacity = 100);
  background: #f47d8e !important;
}

.resultado-imovel-legenda{
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.7); 
}

.linha-1{
  display: table;
  width: calc(100% - 15px);
  height: 20px;
  margin-top: 10px;
  padding-left: 15px;
  line-height: 20px;
}

.linha-2{
  display: table;
  width: calc(100% - 15px);
  height: 20px;
  padding-left: 15px;
  line-height: 20px;
}

.resultado-dados-icone{
  float: left;
  margin-right: 10px;
}

.resultado-dados-valor{
  float: right;
  margin-right: 10px;
}

.display-none{
  display: none;
}

.table{
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  border: 1px solid #ebebeb;
  border-right: none;
  border-left: none;
}

.table td{
  padding: 5px 5px 0px 10px;
  font-size: 16px !important;
}

.mapa-google{
  width: 100%;
  max-width: 400px;
}

.img-logo-anunciante{
  min-width: 200px;
}

.div-carousel{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.div-carousel img{
  height: 100%;
}

.anuncio-sem-imagem{
  display: none;
  position: absolute;
  padding: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  border-radius: 0px 0px 4px 4px;
}

.chat-form{
  position: fixed;
  z-index: 9997;
  width: 100%;
  height: 58px;
  bottom: 0px;
}

.chat-form .btn-chat{
  float: left;
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  border: none;
}

.chat-form i{
  font-size: 24px !important;
}

.chat-form .input-chat{
  float: left;
  width: calc(100% - 70px);
  height: 57px;
  margin-top: 1px;
  padding-left: 10px;
  border: none;
}

.chat-box{
  padding: 4px 8px 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  background: white;
  margin-bottom: 2px;
}

.chat-box-a{
  background: #e6e6e6;
}

.chat-box-b{
  background: #d7e5e8;
}

.chat-log{
  padding: 5px;
}

.btn-chat:hover{
  opacity: 1.0;
  filter: alpha(opacity = 100);
}