<header class="bc-midnight">
  <div onclick="open_page('login.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Últimos Anunciados</div>
  <div onclick="open_page('pesquisa.html');" class="btn-right bg-hover-salmon"><i class="fa fa-search"></i></div>
</header>

<section class="p-top-48">
  <div id="grid-resultado"></div>
</section>

<div class="display-none" id="template">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="resultado-imovel" onclick="abrir_anuncio({{id}}, 'anuncio.html');">
      <div class="resultado-imovel-imagem" style="background-image:url('{{imagem}}');">
        <div class="resultado-imovel-legenda">
          <div class="linha-1">
            <div class="resultado-dados-icone"><i class="fa fa-bed fa-fw" aria-hidden="true"></i> {{nQuartos}}</div>
            <div class="resultado-dados-icone"><i class="fa fa-shower" aria-hidden="true"></i> {{nBanheiros}}</div>
            <div class="resultado-dados-icone"><i class="fa fa-car fa-fw" aria-hidden="true"></i> {{nVagas}}</div>
            <div class="resultado-dados-valor"><i class="fa fa-flag fa-fw" aria-hidden="true"></i> R$ {{valor}}</div>
          </div>
          <div class="linha-2">{{cidade}} - {{uf}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(10000);
  carregar_grid_destaque();
  localStorage.setItem('last-page', 'home.html');
});
</script>