<header class="bc-midnight">
  <div onclick="open_page('painel.pesquisa.html')" class="btn-left bg-hover-salmon"><i class="fa fa-search" aria-hidden="true"></i></div>
  <div class="title">Troca Imóvel</div>
  <div onclick="open_page('painel.adicionar.anuncio.html');" class="btn-right bg-hover-salmon"><i class="fa fa-bullhorn"></i></div>
</header>

<section class="p-top-48">
  <div class="content text-center">
    <b>Usuário conectado:</b><br><i class="fa fa-user fa-fw color-salmon"></i> <span id="usuario-conectado">Usuário Conectado</span><br>
  </div>
  <div class="main-menu">
    <div class="item" onclick="open_page('painel.pesquisa.html');">
      <div class="icon-left"><i class="fa fa-search color-salmon"></i></div>
      <div class="label">Pesquisar imóvel</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.adicionar.anuncio.html');">
      <div class="icon-left"><i class="fa fa-bullhorn color-salmon"></i></div>
      <div class="label">Anunciar imóvel</div>
      <div class="icon-right"></div>
    </div>
  </div>
  <div class="main-menu">
    <div class="item" onclick="open_page('painel.gerenciar.mensagens.html');">
      <div class="icon-left"><i class="fa fa-inbox color-midnight"></i></div>
      <div class="label">Novas mensagens</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.gerenciar.anuncios.html');">
      <div class="icon-left"><i class="fa fa-bullhorn color-midnight"></i></div>
      <div class="label">Meus anúncios</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.combinacoes.html');">
      <div class="icon-left"><i class="fa fa-flag color-midnight" aria-hidden="true"></i></div>
      <div class="label">Combinações</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.recomendados.html');">
      <div class="icon-left"><i class="fa fa-star color-midnight" aria-hidden="true"></i></div>
      <div class="label">Recomendados</div>
      <div class="icon-right"></div>
    </div>
  </div>
  <div class="main-menu">
    <div class="item" onclick="open_page('painel.adicionar.interesse.html');">
      <div class="icon-left"><i class="fa fa-plus-square color-midnight"></i></div>
      <div class="label">Adicionar interesse</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.gerenciar.interesses.html');">
      <div class="icon-left"><i class="fa fa-bookmark color-midnight" aria-hidden="true"></i></div>
      <div class="label">Meus interesses</div>
      <div class="icon-right"></div>
    </div>
  </div>
  <div class="main-menu">
    <div class="item" onclick="open_page('painel.editar.dados.html');">
      <div class="icon-left"><i class="fa fa-user color-midnight"></i></div>
      <div class="label">Meus dados</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="open_page('painel.editar.senha.html');">
      <div class="icon-left"><i class="fa fa-unlock-alt color-midnight"></i></div>
      <div class="label">Alterar senha</div>
      <div class="icon-right"></div>
    </div>
    <div class="item" onclick="desconectar_usuario();">
      <div class="icon-left"><i class="fa fa-power-off color-salmon"></i></div>
      <div class="label">Sair</div>
      <div class="icon-right"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  $('#usuario-conectado').html(localStorage.getItem('nome-usuario'));
});
</script>