<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html');" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Meus Anúncios</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="content display-none" id="alerta"><i class="fa fa-bell fa-fw color-salmon" aria-hidden="true"></i>  Nenhum anúncio publicado.</div>
  <div class="main-menu display-none" id="list-menu"></div>
</section>

<div class="display-none" id="template">
  <div class="item" id="item-{{id}}">
    <div class="icon-left" onclick="editar_anuncio({{id}});"><i class="fa fa-pencil-square-o color-midnight" aria-hidden="true"></i></div>
    <div class="label text-truncate" onclick="abrir_anuncio({{id}}, 'painel.anuncio.html');">{{titulo}}</div>
    <div class="icon-right" onclick="confirmar_remocao_anuncio({{id}});"><i class="fa fa-trash-o color-salmon"></i></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_grid_anuncio();
  localStorage.setItem('last-page', 'painel.gerenciar.anuncios.html');
});
</script>