<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Alterar Senha</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="input-text">
    <label>Senha atual:</label>
    <input type="password" id="senha-atual" name="senhaAtual" maxlength="20">
  </div>
  <div class="input-text">
    <label>Nova senha:</label>
    <input type="password" id="nova-senha" name="novaSenha" maxlength="20">
  </div>
  <div class="input-text">
    <label>Repetir nova senha:</label>
    <input type="password" id="repetir-senha" name="repetirSenha" maxlength="20">
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="button" onclick="editar_senha_usuario();" class="btn btn-submit bg-salmon m-bottom-10"><i class="fa fa-search fa-fw"></i> Alterar Senha</button>
    </div>
  </div>
</section>