<header class="bc-midnight">
  <div onclick="open_page('login.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Recuperar Senha</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="input-text">
    <label>E-mail de cadastro:</label>
    <input type="text" class="text-lowercase" name="senha-email" id="senha-email" maxlength="50">
  </div>
  <div class="input-text">
    <label>CPF:</label>
    <input type="text" name="senha-cpf" id="senha-cpf" placeholder="somente números">
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="button" onclick="enviar_email_senha();" class="btn btn-submit bg-salmon m-bottom-10">Recuperar Senha</button>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  $('#senha-cpf').mask('999.999.999-99');
});
</script>