<header class="bc-midnight">
  <div onclick="open_page('pesquisa.html');" class="btn-left bg-hover-salmon"><i class="fa fa-search"></i></div>
  <div class="title">Troca Imóvel</div>
  <div onclick="open_page('cadastro.html');" class="btn-right bg-hover-salmon"><i class="fa fa-user"></i></div>
</header>

<section class="p-top-48">
  <div class="content text-center">
    <img src="img/logo.png" class="home-logo">
  </div>
  <div class="input-text">
    <label>E-mail de cadastro:</label>
    <input type="text" id="login-email">
  </div>
  <div class="input-text">
    <label>Senha:</label>
    <input type="password" id="login-senha">
  </div>
  <div class="content text-center">
    <div class="default-container">
      <button onclick="autenticar_usuario();" class="btn btn-submit bg-midnight m-bottom-10">Acessar</button>
      <button onclick="autenticar_facebook();" class="btn bg-facebook m-bottom-10">Acessar com Facebook</button>
      <div onclick="open_page('privacidade.html');" class="color-midnight" href="">política de privacidade</div>
    </div>
  </div>
  <div class="content text-center border-none">
    <div class="default-container text-center">
      <button onclick="open_page('cadastro.html');" class="btn bg-salmon m-bottom-10">Criar Conta</button>
      <div onclick="open_page('senha.html');" class="color-midnight" href="">esqueci a senha</div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  localStorage.removeItem('token');
  localStorage.removeItem('nome-usuario');
  localStorage.removeItem('id-usuario');
});
</script>