<header class="bc-midnight">
  <div onclick="open_page('painel.menu.html')" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Adicionar Interesse</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="input-text">
    <label>Dê um título ao seu interesse:</label>
    <input type="text" id="titulo" name="titulo" maxlength="150">
  </div>
  <div class="input-select">
    <label>Categoria:</label>
    <select id="select-categoria" name="categoria"></select>
  </div>
  <div class="input-select">
    <label>Proposta:</label>
    <select id="select-proposta" name="proposta"></select>
  </div>
  <div class="input-select">
    <label>Estado:</label>
    <select id="select-estado" name="idEstado" onchange="carregar_select_cidade(null, $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Cidade:</label>
    <select id="select-cidade" name="idCidade" onchange="carregar_select_bairro(null, $(this).val());"></select>
  </div>
  <div class="input-select">
    <label>Bairro:</label>
    <select id="select-bairro" name="idBairro"></select>
  </div>
  <div class="input-select">
    <label>Nº Quartos:</label>
    <select id="n-quartos" name="nQuartos">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Nº Suítes:</label>
    <select id="n-suites" name="nSuites">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Nº Banheiros:</label>
    <select id="n-banheiros" name="nBanheiros">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-select">
    <label>Nº Vagas:</label>
    <select id="n-vagas" name="nVagas">
      <option value="0"></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="input-text">
    <label>Área mínima:</label>
    <input type="number" id="metragem-minima" name="metragemMinima" min="0" max="99999" placeholder="m²">
  </div>
  <div class="input-text">
    <label>Área máxima:</label>
    <input type="number" id="metragem-maxima" name="metragemMaxima" min="0" max="99999" placeholder="m²">
  </div>
  <div class="input-text">
    <label>Valor mínimo:</label>
    <input type="text" id="valor-minimo" name="valorMinimo">
  </div>
  <div class="input-text">
    <label>Valor máximo:</label>
    <input type="text" id="valor-maximo" name="valorMaximo">
  </div>
  <div class="content text-center border-none">
    <div class="default-container">
      <button type="text" onclick="adicionar_interesse();" class="btn btn-submit bg-salmon m-bottom-10"><i class="fa fa-plus-square fa-fw"></i> Adicionar Interesse</button>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(1500);
  carregar_select_estado();
  carregar_select_cidade();
  carregar_select_bairro();
  carregar_select_categoria();
  carregar_select_proposta();
  $('#n-quartos').keypress(verificar_digito);
  $('#n-suites').keypress(verificar_digito);
  $('#n-banheiros').keypress(verificar_digito);
  $('#n-vagas').keypress(verificar_digito);
  $('#metragem-maxima').keypress(verificar_digito);
  $('#metragem-minima').keypress(verificar_digito);
  $('#valor-maximo').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#valor-minimo').maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
});
</script>