<header class="bc-midnight">
  <div onclick="open_page('painel.editar.anuncio.html');" class="btn-left bg-hover-salmon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title">Imagens do Imóvel</div>
  <div class="btn-none"></div>
</header>

<section class="p-top-48">
  <div class="content display-none" id="alerta"><i class="fa fa-bell fa-fw color-salmon" aria-hidden="true"></i> Nenhuma imagem.</div>
  <div id="grid-resultado"></div>
</section>

<div class="display-none" id="template">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="resultado-imovel" id="imagem-{{idImagem}}">
      <div class="resultado-imovel-imagem" style="background-image:url('{{imagem}}');">
        <button class="bg-salmon" onclick="confirmar_remocao_imagem({{idImagem}}, {{idAnuncio}})"><i class="fa fa-trash-o"></i> Remover</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  open_loading_modal(15000);
  var idAnuncio = localStorage.getItem('id-anuncio');
  carregar_imagens_editar_anuncio(idAnuncio);
});
</script>