<header class="bc-midnight">
  <div onclick="open_page('painel.resultado.html');" class="btn-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="title-2">Anúncio do Imóvel</div>
  <div onclick="open_page('painel.chat.html')" class="btn-left"><i class="fa fa-comments" aria-hidden="true"></i></div>
  <div onclick="compartilhar_anuncio($('#compartilhar').val());" class="btn-right" id="btn-share"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i></div>
</header>

<section class="p-top-48">
  <input type="hidden" id="id-anuncio">
  <input type="hidden" id="id-anunciante">
  <input type="hidden" id="compartilhar">
  <div class="owl-carousel" id="owl-carousel"></div>
  <div class="content"><span id="descricao"></span></div>
  <table class="table text-uppercase">
    <tr>
      <td width="50%"><i class="fa fa-bookmark fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small id="proposta"></small></td>
      <td><i class="fa fa-home fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small class="text-lowercase" id="metragem"></small></td>
    </tr>
    <tr>
      <td width="50%"><i class="fa fa-bed fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small id="n-quartos"></small></td>
      <td><i class="fa fa-bed fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small id="n-suites"></small></td>
    </tr>
    <tr>
      <td width="50%"><i class="fa fa-shower fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small id="n-banheiros"></small></td>
      <td><i class="fa fa-car fa-fw color-salmon" aria-hidden="true"></i>&nbsp;&nbsp;<small id="n-vagas"></small></td>
    </tr>
  </table>
  <table class="table">
    <tr><td width="90px"><small class="text-uppercase" id="valor">valor:</small></td><td><small id="valor-imovel"></small></td></tr>
    <tr><td width="90px"><small class="text-uppercase">iptu:</small></td><td><small id="valor-iptu"></small></td></tr>
    <tr><td width="90px"><small class="text-uppercase">condimínio:</small></td><td><small id="valor-condominio"></small></td></tr>
  </table>
  <table class="table text-center">
    <tr><td><span id="anunciante"></span></td></tr>
    <tr><td><i class="fa fa-phone fa-fw"></i> <small class="text-lowercase" id="telefone-numero">Telefone não informado.</small></td></tr>
  </table>
  <div class="content text-center">
    <div class="default-container">
      <button onclick="open_page('painel.negociar.html');" type="button" class="btn bg-salmon m-bottom-10"><i class="fa fa-check fa-fw"></i> Quero negociar!</button>
    </div>
  </div>
  <div class="content text-center display-none" id="logo-anunciante">
    <img class="img-logo-anunciante" id="img-logo-anunciante">
  </div>
  <div class="content text-center" id="mapa">
    <span id="localizacao"></span><br>
    <img id="mapa-bairro" class="mapa-google" onerror="$(this).hide();">
  </div>
  <div class="input-text">
    <label>Seu nome:</label>
    <input type="text" class="form-control" id="contato-nome" name="contatoNome" maxlength="50">
  </div>
  <div class="input-text">
    <label>E-mail para contato:</label>
    <input type="text" class="form-control" id="contato-email" name="contatoEmail" maxlength="50">
  </div>
  <div class="input-text">
    <label>Telefone para contato:</label>
    <input type="text" class="form-control" id="contato-telefone" name="contatoTelefone">
  </div>
  <div class="input-text">
    <label>Mensagem:</label>
    <textarea class="form-control" rows="3" id="contato-mensagem" name="contatoMensagem" maxlength="200"></textarea>
  </div>
  <div class="content text-center">
    <div class="default-container">
      <button type="button" onclick="enviar_email_anuncio($('#id-anuncio').val());" class="btn bg-salmon m-bottom-10"><i class="fa fa-check fa-fw"></i> Enviar</button>
    </div>
  </div>
  <div class="content text-center border-none">
    <div onclick="open_page('painel.denunciar.html');" class="color-midnight">Denunciar Imóvel</div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  localStorage.setItem('last-page', 'painel.anuncio.html');
  open_loading_modal(1500);
  var idAnuncio = localStorage.getItem('id-anuncio');
  carregar_dados_anuncio(idAnuncio);
  carregar_imagens_anuncio(idAnuncio);
  $('#id-anuncio').val(idAnuncio);
  $("#contato-telefone").mask("(00) 0000-00009");
});
</script>