.bg-midnight{ background: #003f4f !important; }
.bc-midnight{ background: #003f4f !important; }
.color-midnight{ color: #003f4f !important; }

.bg-salmon{ background: #f05268 !important; }
.bc-salmon{ background: #f05268 !important; }
.color-salmon{ color: #f05268 !important; }
.bg-hover-salmon:hover{ background: #f05268 !important;  }
.color-hover-salmon:hover{ color: #f05268 !important;  }

.bg-facebook{ background: #3b5997 !important; }
.bc-facebook{ background: #3b5997 !important; }
.color-facebook{ color: #3b5997 !important; }

body, html{
  height: 100%;
}

body{
  position: relative;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #505050;
}

a{
  text-decoration: none;
}

input, textarea, button, select{
  font-size: 14px;
  font-family: sans-serif;
  color: #505050;
}

button:hover{
  opacity: 0.75;
  filter: alpha(opacity = 75);
}

header{
  position: fixed;
  z-index: 9997;
  width: 100%;
  height: 58px;
}

header .title{
  float: left;
  width: calc(100% - 116px);
  height: 58px;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 58px;
}

header .title-2{
  float: left;
  width: calc(100% - 174px);
  height: 58px;
  font-size: 16px;
  text-align: center;
  color: white;
  line-height: 58px;
}

header .btn-left, header .btn-right{
  float: left;
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease;                  
  -moz-transition: all 0.2s ease;                 
  -o-transition: all 0.2s ease;   
  -ms-transition: all 0.2s ease;          
  transition: all 0.2s ease;
}

header .btn-left:hover{
  background: #f05268 !important;
}

header .btn-right:hover{
  background: #f05268 !important;
}

header .btn-none{
  float: left;
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
}

header i{
  width: 58px;
  height: 58px;
  line-height: 58px !important;
  font-size: 24px !important;
}

.default-container{
  max-width: 375px;
  margin: 0 auto;
}

.p-top-48{
  padding-top: 58px;
}

.app-page{
  overflow: hidden;
}

.home-logo{
  max-width: 280px;
}

.search{
  width: 100%;
  height: 58px;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.search input{
 width: calc(100% - 16px);
 height: 58px;
 padding-left: 15px;
 font-size: 16px;
 border: none;
 background: transparent;
}

input:focus, select:focus{
  outline: none;
}

.list-item{
  padding: 10px 15px 10px 15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb !important;
  border-right: 7px solid #00bcc9;
  background: white;
}

.list-item:hover, .btn-action:hover{
  background: #f2f2f2;
}

.btn-action{
  width: calc(100% - 30px);
  padding: 15px;
  text-align: center;
  line-height: 25px;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.btn-action i{
  color: #00bcc9;
}

.input-text{
  width: 100%;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.input-text label{
  display: table;
  width: calc(100% - 15px);
  padding: 10px 0px 0px 15px;
  font-size: 16px;
}

.input-text input, .input-text textarea{
  width: calc(100% - 16px);
  height: 28px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  background: transparent;
}

.input-text textarea{
  height: 56px;
}

.input-select{
  display: flex;
  width: calc(100% - 25px);
  padding: 8px 10px 8px 15px;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.input-select label{
  float: left;
  width: 120px;
  line-height: 40px;
  font-size: 16px;
}

.input-select input, .input-select select{
  float: left;
  flex-grow: 1;
  height: 38px;
  font-size: 16px;
  border: none;
  background: transparent;
}

.content{
  width: calc(100% - 40px);
  padding: 20px 20px 18px 20px;
  line-height: 19px;
  background: white;
  text-align: justify;
  border-bottom: 1px solid #ebebeb;
}

.text-capitalize{
  text-transform: capitalize;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center !important;
}

.template{
  display: none;
}

.modal-container{
  display: none;
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); 
}

.modal-loading{
  position: absolute;
  z-index: 9999;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  line-height: 91px;
  background: white;
  border-radius: 40px;
}

.modal-form{
  display: inline-block;
  z-index: 300;
  width: calc(100% - 40px);
  max-width: 600px;
  height: calc(100% - 40px);
  margin: 20px;
  text-align: left;
  background: white;
}

.flex-height{
  height: auto !important;
}

.modal-header{
  display: table;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.modal-title{
  float: left;
  width: calc(100% - 65px);
  padding: 0px 0px 0px 15px;
  height: 50px;
  color: #2b313e;
  font-weight: bold;
  line-height: 50px;
  background: #f2f2f2;
}

.modal-close{
  display: table;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #f2f2f2;
}

.modal-close i{
  display: table-cell;
  vertical-align: middle;
}

.modal-content, .modal-control{
  font-size: 14px;
  line-height: 19px;
  padding: 25px 15px 0px 15px;
}

.modal-control{
  text-align: center;
  padding-bottom: 15px;
}

.modal-list .list-item{
  height: 50px;
  padding: 0px 0px 0px 15px;
  line-height: 50px;
  border-bottom: 1px solid #ebebeb;
  border-right: 0px;
}

.modal-list .list-title{
  height: 50px;
  padding: 0px 0px 0px 15px;
  line-height: 50px;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb !important;
  background: #f2f2f2;
}

.stop-scrolling{
  height: 100%;
  overflow: hidden;
}

.scroll-visible{
  overflow-y: scroll;
}

.list-item .fa{
  padding-right: 5px !important;
}

button:focus{
  outline: none;
}

.btn{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

.btn-ok{
  padding: 10px 40px 10px 40px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

.btn-yes, .btn-no{
  margin: 0px 5px 0px 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.display-visible{
  display: block !important;
}

.border-none{
  border: none !important;
}

.m-bottom-10{
  margin-bottom: 10px;
}

.main-menu{
  width: 100%;
  margin: 15px 0px 15px 0px;
  border: 1px solid #ebebeb;
  border-left: none;
  border-right: none;
}

.main-menu .item{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ebebeb;
}

.main-menu .item:hover{
  background: #f2f2f2;
}

.main-menu .item:last-child{
  border-bottom: none;
}

.main-menu .icon-left{
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.main-menu .icon-right{
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.main-menu .label{
  float: left;
  width: calc(100% - 100px);
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.p-top-0{
  padding-top: 0px !important;
}

.p-top-5{
  padding-top: 5px !important;
}

.p-top-10{
  padding-top: 10px !important;
}